*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.site-logo{
   width: 200px;
}

.product-links{
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    top: 100%;
    left: 0%;
    z-index: 1000;
    padding: 20px;
}

.desktop-navigation li{
    cursor: pointer;
}

.desktop-navigation li:hover{
    color: red;
}

.products-link-tab:hover .product-links{
    display: block;
}

.wallpaper-wrapper img{
    width: 100%;
}

.wallpaper-wrapper .col{
    min-width: 250px;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.wallpaper-info p{
    margin: 0;
    font-weight: 600;
}

.wallpaper-info{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background: linear-gradient(transparent, black);
}

.mobile-navigation{
    transform: translateX(-101%);
    transition: all .3s ease-in-out;
}

.mobile-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-navigation ul{
    list-style: none;
}

.mobile-navigation li{
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.mobile-navigation li a{
    text-decoration: none;
    color: inherit;
}